@tailwind components;
@tailwind utilities;

/* Custom scrollbar utility for the carousel */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.thin-scrollbar::-webkit-scrollbar {
  height: 4px;
}
.thin-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.thin-scrollbar::-webkit-scrollbar-thumb {
  background: #d1d5db;
  border-radius: 4px;
}
.thin-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}
